### pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series

### 1.Series

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
import pandas as pd

In [3]:
# supports dataframe and series
import numpy as np

In [4]:
pd.Series()

<ipython-input-4-fa15c544da3b>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [6]:
s = [1,3,5,7,9,11,15]

In [7]:
type(s)

list

In [9]:
s = pd.Series(s)

In [10]:
s

0     1
1     3
2     5
3     7
4     9
5    11
6    15
dtype: int64

In [11]:
type(s)

pandas.core.series.Series

In [ ]:
#s = pd.Series(np.random.random(10)) # creating series object

In [12]:
s.shape

(7,)

In [ ]:
s.shape

(10,)

In [13]:
b = [1,2,3,4,5]

In [16]:
x = pd.Series(b)
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
x[2]

3

In [17]:
x[1]

2

In [19]:
x[0]   # indexing

1

In [20]:
c = pd.Series(np.random.random(5))
c

0    0.114675
1    0.954483
2    0.656465
3    0.269488
4    0.057807
dtype: float64

In [21]:
c[0:3]  # slicing

0    0.114675
1    0.954483
2    0.656465
dtype: float64

In [ ]:
c[0] = 600 # update the value

In [22]:
c

0    0.114675
1    0.954483
2    0.656465
3    0.269488
4    0.057807
dtype: float64

In [23]:
c.index = ["a","b","c","d","e"] # change the index names

In [24]:
c

a    0.114675
b    0.954483
c    0.656465
d    0.269488
e    0.057807
dtype: float64

In [26]:
c['d']

0.2694881124754662

In [25]:
c['a']

0.11467484082824009

In [ ]:
# creating a series object with index names
s = pd.Series(np.random.random(4),index = ["a","b","c","d"])

In [ ]:
s

a    0.039665
b    0.457980
c    0.352058
d    0.993504
dtype: float64

In [27]:
c1 = [1,2,5,7,8,9,10,50,60]

In [28]:
c2 = pd.Series(c1)

In [29]:
c1

[1, 2, 5, 7, 8, 9, 10, 50, 60]

In [32]:
# pulling the max value index number
c2.argmax()

8

In [34]:
c2 = [12,3,2,6,100,600,5000,0,4,15]

In [36]:
c3 = pd.Series(c2)

In [37]:
c3

0      12
1       3
2       2
3       6
4     100
5     600
6    5000
7       0
8       4
9      15
dtype: int64

In [39]:
# sorting the values
c3.argsort()

0    7
1    2
2    1
3    8
4    3
5    0
6    9
7    4
8    5
9    6
dtype: int64

In [40]:
# cummulative summation of the data
c3.cumsum()

0      12
1      15
2      17
3      23
4     123
5     723
6    5723
7    5723
8    5727
9    5742
dtype: int64

In [42]:
c3

0      12
1       3
2       2
3       6
4     100
5     600
6    5000
7       0
8       4
9      15
dtype: int64

In [43]:
# checking the mean
c3.mean()

574.2

In [44]:
# checking the median
c3.median()

9.0

In [45]:
c3

0      12
1       3
2       2
3       6
4     100
5     600
6    5000
7       0
8       4
9      15
dtype: int64

In [46]:
c3.argmax()

6

In [47]:
# checking the max value
c3.max()

5000

In [48]:
# checking the minimun value
c3.min()

0

In [51]:
c3.argsort()

0    7
1    2
2    1
3    8
4    3
5    0
6    9
7    4
8    5
9    6
dtype: int64

In [49]:
# checking the descriptive stats of the data
c3.describe()

count      10.000000
mean      574.200000
std      1566.077109
min         0.000000
25%         3.250000
50%         9.000000
75%        78.750000
max      5000.000000
dtype: float64

## Dataframe

In [53]:
s1 = pd.Series(np.random.random(5))

In [54]:
s2 = pd.Series(np.random.random(5))

In [56]:
type(s2)

pandas.core.series.Series

In [57]:
s1,s2

(0    0.349489
 1    0.105592
 2    0.709978
 3    0.777458
 4    0.171954
 dtype: float64,
 0    0.624306
 1    0.338347
 2    0.736902
 3    0.329013
 4    0.342573
 dtype: float64)

In [58]:
# creating a dataframe using series object
a= pd.DataFrame([s1,s2])

In [59]:
a

          0         1         2         3         4
0  0.349489  0.105592  0.709978  0.777458  0.171954
1  0.624306  0.338347  0.736902  0.329013  0.342573

In [60]:
type(a)

pandas.core.frame.DataFrame

In [72]:
a1 = [1,2,3,4,5,6,7,8]
a2 = [3,4,5,6,7,8,9]
a3 = [100,200,'hi', 'bye', 'python']
a4 = ['hello', 'bye', 'azure', 'data']

In [73]:
b = pd.DataFrame([a1,a2,a3, a4])

In [74]:
b

       0    1      2     3       4    5    6    7
0      1    2      3     4       5  6.0  7.0  8.0
1      3    4      5     6       7  8.0  9.0  NaN
2    100  200     hi   bye  python  NaN  NaN  NaN
3  hello  bye  azure  data    None  NaN  NaN  NaN

In [64]:
type(b)

pandas.core.frame.DataFrame

In [ ]:
# create a dataframe with the help of dictionary with age and salary
d = {"age":[22,23,24],"salary":[1000,1020,1040]}

In [ ]:
d

{'age': [22, 23, 24], 'salary': [1000, 1020, 1040]}

In [ ]:
type(d)

dict

In [ ]:
# converting the dict to the dataframe
data = pd.DataFrame(d)

In [ ]:
data

   age  salary
0   22    1000
1   23    1020
2   24    1040

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
# creating data frame using list
a = [1,2,3,4]
b = [10,11,12,13]

In [ ]:
pd.DataFrame([a,b])

    0   1   2   3
0   1   2   3   4
1  10  11  12  13

In [ ]:
# giving the column names to the data
pd.DataFrame([a,b],columns=['col1','col2','col3','col4'])

   col1  col2  col3  col4
0     1     2     3     4
1    10    11    12    13

In [ ]:
data

   age  salary
0   22    1000
1   23    1020
2   24    1040

In [ ]:
# adding column to the data frame - gender
data['gender'] = ["male","female","other"]

In [ ]:
data

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other

### iloc() and loc() functions

In [ ]:
# iloc and loc functions
data.iloc[0]

age         22
salary    1000
gender    male
Name: 0, dtype: object

In [ ]:
data.loc[2]

age         24
salary    1040
gender    male
Name: 2, dtype: object

In [ ]:
data.iloc[:,2] # extract column information

0      male
1    female
2      male
Name: gender, dtype: object

In [ ]:
data.iloc[3] # shows error , index beyond limit

In [ ]:
data['salary'] # retreving the values using column name

0    1000
1    1020
2    1040
Name: salary, dtype: int64

In [ ]:
data.salary

0    1000
1    1020
2    1040
Name: salary, dtype: int64

In [ ]:
 # not able  to create a row using iloc
data.iloc[4] =[25,334,"male"]

IndexError: ignored

In [ ]:
data.loc[3] =[28,335,"male"] # creating a row using loc function

In [ ]:
data

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   28     335    male

In [ ]:
data.iloc[3,2] # extract the specified value using iloc

'male'

In [ ]:
data.shape # displays the rows and columns in the dataset

(5, 3)

In [ ]:
data.columns # gives the column names

Index(['age', 'salary', 'gender'], dtype='object')

In [ ]:
data.values # gives values of the dataset

array([[22, 1000, 'male'],
       [23, 1020, 'female'],
       [24, 1040, 'other'],
       [28, 335, 'male']], dtype=object)

In [ ]:
data.dtypes # gives the data types

age        int64
salary     int64
gender    object
dtype: object

In [ ]:
# combine two datasets
pd.concat([data,data])

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   28     335    male
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   28     335    male

In [ ]:
#drop column from the dataset
d2 = data.drop(columns=['salary'])

In [ ]:
d2

   age  gender
0   22    male
1   23  female
2   24   other
3   28    male

In [ ]:
data

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   22     333    male
4   28     335    male

In [ ]:
#drop column from the dataset
data.drop(columns=['gender'],axis=1,inplace=True)
data

   age  salary
0   22    1000
1   23    1020
2   24    1040
3   22     333

In [ ]:
data.loc[4] = [22,1000] # creating duplicate values

ValueError: ignored

In [ ]:
data

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   22     333    male
4   28     335    male

In [ ]:
data.loc[5] = [28, 335 , 'male']

In [ ]:
data

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   28     335    male
5   28     335    male

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data

   age  salary  gender
0   22    1000    male
1   23    1020  female
2   24    1040   other
3   28     335    male

In [ ]:
import numpy as np

In [ ]:
# creating missing values
data['Experience'] = [1,np.nan,3,4]

In [ ]:
data

   age  salary  gender  Experience
0   22    1000    male         1.0
1   23    1020  female         NaN
2   24    1040   other         3.0
3   28     335    male         4.0

In [ ]:
# fill the missing values
data['Experience'].fillna(100,inplace=True)

In [ ]:
data

   age  salary  gender  Experience
0   22    1000    male         1.0
1   23    1020  female       100.0
2   24    1040   other         3.0
3   28     335    male         4.0

In [ ]:
# replacing the values in the datset
data["Experience"].replace({100.0:2.0},inplace=True)

In [ ]:
data

   age  salary  gender  Experience
0   22    1000    male         1.0
1   23    1020  female         2.0
2   24    1040   other         3.0
3   28     335    male         4.0

In [ ]:
# checking for missing values
data.isnull()

     age  salary  gender  Experience
0  False   False   False       False
1  False   False   False       False
2  False   False   False       False
3  False   False   False       False